* {
    box-sizing: border-box;
    font-family: -apple-system, system, sans-serif;
}

body {
    background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png");
    position: relative;
    height: 100vh;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1180px;
    text-align: center;
    margin: 0 auto;
}

h2 {
    margin-top: 0;
    color: #e3e3e3;
    font-size: 30px;
    text-align: center;
}

.tagline {
    text-align: center;
    font-size: 24px;
    color: #1fb57d;
    font-weight: 300;
    margin-bottom: 100px;
}

a:hover {
    text-decoration: none;
}

.button {
    background: #1fb57d;
    color: #fff;
    font-size: 16px;
    border: 0;
    outline: 0;
    padding: 10px 0;
    width: 200px;
    text-align: center;
    border-radius: 2px;
    display: block;
    margin: 0 auto;
}

.button:hover {
    cursor: pointer;
    background: #01ab6b;
    text-decoration: none;
    color: #fff;
}

.user {
    color: #fff;
}

.usersWrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 20px auto;
    width: 1020px;
}

.singleImage {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 2px;
    margin: 10px 10px 10px 10px;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.singleImage:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.singleImage img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.imagePlaceholder {
    width: 150px;
    height: 150px;
    border-radius: 2px;
    background: #fff;
    opacity: 0.1;
    border: 1px solid #000;
}

.imagePlaceholder span {
    color: #000;
    font-size: 16px;
    text-align: center;
    line-height: 150px;
}
